#central-container {
  background-color: white;

  --size: 200px;
  height: var(--size);
  width: var(--size);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: none;
}